# providers
GIT_TOKEN=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
GCP_CREDENTIALS=
CLOUDFLARE_API_TOKEN=

# platform
ARGOCD_PASSWORD=
GRAFANA_PASSWORD=
ALERT_BOT_TOKEN=

# modules
POSTGRESQL_PASSWORD=
MYSQL_PASSWORD=
REDIS_PASSWORD=
PGADMIN4_PASSWORD=
TOOLS_PASSWORD=
BACKUP_AWS_ACCESS_KEY_ID=
BACKUP_AWS_SECRET_ACCESS_KEY=

# ssh
SSH_PRIVATE_KEY=
SSH_PASSWORD=
